<!DOCTYPE html>
<html>
<head lang="zh">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" /> 
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="yes" name="apple-touch-fullscreen"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="#ffffff" name="msapplication-TileColor" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <title>靠谱APP</title>
    <link href="../../../css/bootstrap-3.3.5/css/bootstrap.css" rel="stylesheet">
	<link href="../../../css/ms/common/commonuse.css" rel="stylesheet">
</head> 
<body>
<div>
	#parse("/htmlPage/common/header.vm")
	<h1>商品信息管理后台</h1>
	<hr style="height:10px;size:5;border:3px;border-top:1px solid #FF0066;"/>
	<div class="container">
		<div class="col-md-1 col-sm-offset-1"><label>商品编号<lable></div><div class="col-md-2"><input type="text" id="querySkuId" placeholder="商品编号"></div>
		<div class="col-md-1"><label>商品名称<lable></div><div class="col-md-2"><input type="text" id="querySkuName" placeholder="商品名称"></div>
		<div class="col-md-1"><input type="button" onclick="querySkuInfo();" id="userName" value="查询"></div><div class="col-md-1"><input type="button" onclick="addSku();" data-toggle="modal" data-target="#myModal"  value="添加商品信息"></div>
	</div>
	<hr style="height:10px;size:5;border:3px;border-top:3px solid #FF0066;"/>
    <div class="list pad7" id="topicList">
	#if($skuList)
		<table class="table table-bordered table-striped">
			<thead>
				<th>商品id</th><th>商品名称</th><th>商品数量</th><th>商品广告词</th><th>商品图片链接</th><th>进货价</th><th>售卖价</th><th>是否有效</th><th>操作编辑</th>
			</thead>
			<tbody id="skuInfoBody">
		#foreach( $skuInfo in $skuList)
			<tr>
				<td>$!{skuInfo.id}</td><td>$!{skuInfo.name}</td><td>$!{skuInfo.num}</td><td>$!{skuInfo.adverst}</td>
				#if(${skuInfo.imgUrl})
					<td>$!{skuInfo.imgUrl}</td>
				#else
					<td><input type="file" name="$!{skuInfo.id}" id="upfileId"></td>
				#end
				<td>$!{skuInfo.inprice}</td><td>$!{skuInfo.outprice}</td>
				#if(${skuInfo.yn})
					<td>有效</td>
				#else
					<td>无效</td>
				#end
				
				<td><input type="button" onclick="delSku('$!{skuInfo.id}')" value="置为无效"> <input type="button" onclick="editSku('$!{skuInfo.id}')" value="修改信息"></td>
			</tr>
		#end
			</tbody>
		</table>
	#else
		查询结果为空！！！
	#end  
	<!-- 弹出对话框 -->
	<div id="popdiv" class="popdivhidden">
		<div class ="popdivhead">
			<titletip>商品信息</titletip>
			<closebutton><button type="button" onclick="closePopDiv();">×</button></closebutton>
		</div>
		<div class="container-fluid">
			<div class="row"><div class="col-md-1">&nbsp;&nbsp;&nbsp;</div></div>
			<div class="row">
				<div class="col-md-2 col-md-offset-1"><label>商品编号:<lable></div><div class="col-md-2"><input type="text" id="skuId" placeholder="商品编号"></div>
				<div class="col-md-1"></div>
				<div class="col-md-2"><label>商品数量:<lable></div><div class="col-md-2"><input type="text" id="skuNum" placeholder="商品数量"></div>
			</div>
			<div class="row"><div class="col-md-1">&nbsp;&nbsp;&nbsp;</div></div>
			<div class="row">
				<div class="col-md-2 col-md-offset-1"><label>商品名称:<lable></div><div class="col-md-2"><input type="text" id="skuName" placeholder="商品名称"></div>
				<div class="col-md-1"></div>
				<div class="col-md-2"><label>商品广告词:<lable></div><div class="col-md-2"><input type="text" id="skuAdverst" placeholder="商品广告词"></div>
			</div>
			<div class="row"><div class="col-md-1">&nbsp;&nbsp;&nbsp;</div></div>
			<div class="row">
				<div class="col-md-2 col-md-offset-1"><label>进货价:<lable></div><div class="col-md-2"><input type="text" id="inprice" placeholder="进货价"></div>
				<div class="col-md-1"></div>
				<div class="col-md-2"><label>出货价:<lable></div><div class="col-md-2"><input type="text" id="outprice" placeholder="出货价"></div>
			</div>
			<div class="row"><div class="col-md-1">&nbsp;&nbsp;&nbsp;</div></div>
			<div class="row">
				<div class="col-md-2 col-md-offset-1"><label>是否有效:<lable></div>
				<div class="col-md-2">
					<input type="radio" name="isvaliade" value="1" checked="checked" />有效 
					<input type="radio" name="isvaliade" value="0" />无效
				</div>
				<div class="col-md-1"></div>
				<div class="col-md-2"><label>上传图片:<lable></div><div class="col-md-2"><input type="file" id="upfileId"></div>
			</div>
			<div class="row"><div class="col-md-1">&nbsp;&nbsp;&nbsp;</div></div>
			<div class="row">
				<div class="col-md-2 col-md-offset-2"><input type="button" id="submit" onclick="submitSku();" value="提   交" size="15"></div>
				<div class="col-md-3"></div>
				<div class="col-md-2"><input type="button" id="cancle" onclick="cancleSku();" value="取   消"></div>
			</div>
		</div>
	</div>
    
</div>
</div>
<div style="margin-top:400px;">
#parse("/htmlPage/common/bottom.html")
</div>
  	<script src="../../../js/jquery-1.11.3/jquery-1.11.3.min.js?r=20150707"></script>
	<script src="../../../js/bootstrap-3.3.5/bootstrap.js?r=20150707"></script>
	<script src="../../../js/common/utils.js?r=20150707"></script>
	<script src="../../../js/ms/backStage/sku/skuManager.js?r=2015120711"></script>

</body>
</html>