<!DOCTYPE html>
<html>
<head lang="zh">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" /> 
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="yes" name="apple-touch-fullscreen"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="#ffffff" name="msapplication-TileColor" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <title>靠谱APP</title>
        <link rel="stylesheet" href="../../../css/jd/skin/index.css"/>
</head> 
<body class="bgwhite body-bottom">   
<div class="common-wrapper bg-fff">
    <nav>
        <a href="/index.action" class="n-left"><i class="back"></i>返回</a>
        <div class="n-center pub-type">大家都在看</div>
    </nav>

	#set ($i=0)
	#if($allSeeSkuList)
		#foreach($skuInfo in $allSeeSkuList)
			#if($i%2==0)
				<div class="interest-pro-w">
				<div class="interest-pro fl">
			#else
				<div class="interest-pro fr">
			#end
					<div class="inp-pic">
	                <i class="love2-icon love-icon"></i>
	                <img src="$!{skuInfo.imgUrl}">
	            </div>
	            <div class="inp-name">
	                <a href="javascript:;">$!{skuInfo.skuName}</a>
	            </div>
	            <div class="inp-num">
	                <span class="inp-pay">
	                    ¥$!{skuInfo.price}
	                </span>
	            </div>
	        	</div>
			#if($i%2!=0)
				</div>
			#end
			#set($i=$i+1)
		#end
		#if($i%2==0)
			</div>
		#end
	#end
</div> 
</body>
</html>